{% block content %}
  <div class="container">
    <div class="row">
      {% for erkekurun in erkekurunler %}
        <div class="col-md-6">
          <div class="yeni-yapi">
            <img class="img" style="width: 100%; height: auto; max-width: 550px; max-height: 550px;" src="{{ erkekurun.image_url }}" alt="Ürün Görseli" />
            <div class="content">
              <div class="product-info">
                <h2 class="product-name">{{ erkekurun.name }}</h2>
                <h4 class="price">{{ erkekurun.price }}₺</h4>
              </div>

              <hr />
              <form action="{% url 'add_to_cart' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="urun_adi" value="{{ erkekurun.name }}" />
                <input type="hidden" name="urun_fiyati" value="{{ erkekurun.price }}" />
                <input type="hidden" name="urun_resmi" value="{{ erkekurun.image_url }}" />
                <button type="submit" name="beden" value="XS" class="btn btn-dark mt-2 size-btn">XS</button>
                <button type="submit" name="beden" value="S" class="btn btn-dark mt-2 size-btn">S</button>
                <button type="submit" name="beden" value="M" class="btn btn-dark mt-2 size-btn">M</button>
                <button type="submit" name="beden" value="L" class="btn btn-dark mt-2 size-btn">L</button>
                <button type="submit" name="beden" value="XL" class="btn btn-dark mt-2 size-btn">XL</button>
                <button type="submit" name="beden" value="XXL" class="btn btn-dark mt-2 size-btn">XXL</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
