{% block content %}
  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="card">
          <img src="https://images.altinyildizclassics.com/mnresize/460/690/images/4A3023100067SYH_40.jpg" class="card-img-top" alt="Ürün Görseli" />
          <div class="card-body">
            <div class="col-md-12">
              <button class="btn btn-dark btn-block py-2 ms-5">Kategoriyi Keşfet...</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
