{% block content %}
  <div class="container">
    <div class="row">
      {% for eayakkabi in eayakkabilar %}
        <div class="col-md-4">
          <div class="yeni-yapi">
            <img class="img" src="{{ eayakkabi.image_url }}" alt="Ürün Görseli" />
            <div class="content">
              <div class="product-info">
                <h2 class="product-name">{{ eayakkabi.name }}</h2>
                <h4 class="price">{{ eayakkabi.price }}</h4>
              </div>
              <hr />
              <div class="actions">
                <button class="fav-btn"><i class="fa-solid fa-heart" style="color: #B197FC;"></i></button>
                <button class="cart-btn"><i class="fa-solid fa-cart-shopping" style="color: #74C0FC;"></i></button>
                <button class="delete-btn"><i class="fa-solid fa-trash" style="color: #63E6BE;"></i></button>
              </div>
              <hr />
              <div class="selectSize-option">
                <button class="btn btn-primary mt-2 size-btn" onclick="selectSize({{ eayakkabi.name }}, {{ eayakkabi.price }}, {{ eayakkabi.image_url }}, '38')">38</button>
                <button class="btn btn-primary mt-2 size-btn" onclick="selectSize({{ eayakkabi.name }}, {{ eayakkabi.price }}, {{ eayakkabi.image_url }}, '39')">39</button>
                <button class="btn btn-primary mt-2 size-btn" onclick="selectSize({{ eayakkabi.name }}, {{ eayakkabi.price }}, {{ eayakkabi.image_url }}, '40')">40</button>
                <button class="btn btn-primary mt-2 size-btn" onclick="selectSize({{ eayakkabi.name }}, {{ eayakkabi.price }}, {{ eayakkabi.image_url }}, '41')">41</button>
                <button class="btn btn-primary mt-2 size-btn" onclick="selectSize({{ eayakkabi.name }}, {{ eayakkabi.price }}, {{ eayakkabi.image_url }}, '42')">42</button>
                <button class="btn btn-primary mt-2 size-btn" onclick="selectSize({{ eayakkabi.name }}, {{ eayakkabi.price }}, {{ eayakkabi.image_url }}, '43')">43</button>
                <button class="btn btn-primary mt-2 size-btn" onclick="selectSize({{ eayakkabi.name }}, {{ eayakkabi.price }}, {{ eayakkabi.image_url }}, '44')">44</button>
                <button class="btn btn-primary mt-2 size-btn" onclick="selectSize({{ eayakkabi.name }}, {{ eayakkabi.price }}, {{ eayakkabi.image_url }}, '45')">45</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
