{% block content %}
  <div class="container">
    <div class="row">
      {% for erkekurun in erkekurunler %}
        <div class="col-md-6">
          <div class="yeni-yapi">
            <img class="img" style="width: 100%; height: auto; max-width: 550px; max-height: 550px;" src="{{ erkekurun.image_url }}" alt="Ürün Görseli" />
            <div class="content">
              <div class="product-info">
                <h2 class="product-name">{{ erkekurun.name }}</h2>
                <h4 class="price">{{ erkekurun.price }}₺</h4>
              </div>
              <hr />
              <div class="actions">
                <button class="fav-btn"><i class="fa-solid fa-heart" style="color: #B197FC;"></i></button>
                <button class="cart-btn"><i class="fa-solid fa-cart-shopping" style="color: #74C0FC;"></i></button>
                <button class="delete-btn"><i class="fa-solid fa-trash" style="color: #63E6BE;"></i></button>
              </div>
              <hr />
              <div>
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ erkekurun.name }}, {{ erkekurun.price }},{{ erkekurun.image_url }}, 'S')">S</button>
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ erkekurun.name }}, {{ erkekurun.price }},{{ erkekurun.image_url }}, 'M')">M</button>
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ erkekurun.name }}, {{ erkekurun.price }},{{ erkekurun.image_url }}, 'L')">L</button>
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ erkekurun.name }}, {{ erkekurun.price }},{{ erkekurun.image_url }}, 'XL')">XL</button>
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ erkekurun.name }}, {{ erkekurun.price }},{{ erkekurun.image_url }}, 'XXL')">XXL</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
