{% block content %}
  <div class="container">
    <h1>Favoriler</h1>
    <form id="addFavoriteForm" method="POST">
      {% csrf_token %}
      <div class="form-group"></div>
    </form>
    <hr />
    <ul id="favoriteList" class="list-group">
      {% for favorite in favorites %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ favorite.item }}
          <span><button type="button" class="btn btn-outline-danger btn-sm delete-favorite" data-id="{{ favorite.id }}"><i class="fas fa-trash"></i></button></span>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
