{% block content %}
  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="card">
          <img src="https://cdn.myikas.com/images/e99580d7-47a2-4686-b55b-0172e2768516/d91e0bae-c7b9-4145-880c-cf016900974d/image_1080.webp" class="card-img-top" alt="Ürün Görseli" />
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success btn-block py-2 ms-5">Kategoriyi Keşfet...</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
