{% block content %}
  <div class="container">
    <div class="row">
      {% for ayakkabi in ayakkabilar %}
        <div class="col-md-6">
          <div class="yeni-yapi">
            <img class="img" src="{{ ayakkabi.image_url }}" alt="Ürün Görseli" style="width: 100%; height: auto; max-width: 550px; max-height: 550px;" />
            <div class="content">
              <div class="product-info">
                <h2 class="product-name">{{ ayakkabi.name }}</h2>
                <h4 class="price">{{ ayakkabi.price }}₺</h4>
              </div>

              <hr />
              <form action="{% url 'add_to_cart' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="urun_adi" value="{{ ayakkabi.name }}" />
                <input type="hidden" name="urun_fiyati" value="{{ ayakkabi.price }}" />
                <input type="hidden" name="urun_resmi" value="{{ ayakkabi.image_url }}" />
                <button type="submit" name="beden" value="36" class="btn btn-danger mt-2 size-btn">36</button>
                <button type="submit" name="beden" value="37" class="btn btn-danger mt-2 size-btn">37</button>
                <button type="submit" name="beden" value="38" class="btn btn-danger mt-2 size-btn">38</button>
                <button type="submit" name="beden" value="39" class="btn btn-danger mt-2 size-btn">39</button>
                <button type="submit" name="beden" value="40" class="btn btn-danger mt-2 size-btn">40</button>
                <button type="submit" name="beden" value="41" class="btn btn-danger mt-2 size-btn">41</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
