{% load static %}
<link rel="stylesheet" href="{% static 'css/abiye.css' %}" />

{% block content %}
  <div class="container">
    <div class="row">
      {% for urun in urunler %}
        <div class="col-md-4">
          <div class="yeni-yapi">
            <img class="img" src="{{ urun.image_url }}" alt="Ürün Görseli" />
            <div class="content">
              <div class="product-info">
                <h2 class="product-name">{{ urun.name }}</h2>
                <h4 class="price">{{ urun.price }}</h4>
              </div>
              <hr />
              <div class="actions">
                <button id="kalp" class="fav-btn"><i class="fa-solid fa-heart" onclick="fa-solid fa-heart" style="color: #B197FC;"></i></button>
              </div>
              <hr />
              <div class="size-option">
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ ayakkabi.name }}, {{ ayakkabi.price }},{{ urun.image_url }}, 'S')">S</button>
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ ayakkabi.name }}, {{ ayakkabi.price }},{{ urun.image_url }}, 'M')">M</button>
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ ayakkabi.name }}, {{ ayakkabi.price }},{{ urun.image_url }}, 'L')">L</button>
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ ayakkabi.name }}, {{ ayakkabi.price }},{{ urun.image_url }}, 'XL')">XL</button>
                <button class="btn btn-dark mt-2 size-btn" onclick="selectSize({{ ayakkabi.name }}, {{ ayakkabi.price }},{{ urun.image_url }}, 'XXL')">XXL</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
