{% extends 'index.html' %}
{% comment %}Abiye.html{% endcomment %}

{% load static %}
{% include 'includes/_navbar.html' %}

<title>Abiyeler</title>
<link rel="stylesheet" href="{% static 'css/abiye.css' %}" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
{% block content %}
  {% include 'includes/_urunyapisi.html' %}
{% endblock %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Tüm dropdownları seç
    let dropdowns = document.querySelectorAll('.dropdown')
  
    // Her bir dropdown için olay dinleyicileri ekle
    dropdowns.forEach(function (dropdown) {
      dropdown.addEventListener('mouseenter', function () {
        // Mouse girişinde dropdown'u aç
        this.querySelector('.dropdown-content').style.display = 'block'
      })
  
      dropdown.addEventListener('mouseleave', function () {
        // Mouse çıkışında dropdown'u kapat
        this.querySelector('.dropdown-content').style.display = 'none'
      })
    })
  })
</script>
<script src="{% static 'js/favoriler.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+M5WM7oUpJSKg1FOWF5i2XtivdE1a/crPLFnmuh" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/767955e4cb.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
