{% extends 'index.html' %}
{% load static %}
{% include 'includes/_navbar.html' %}
<link rel="stylesheet" href="{% static 'css/abiye.css' %}" />

{% block content %}
  <!-- Boş sepet gösterimi -->
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="basket-container">
        <h3>Sepetinizde ürün bulunmamaktadır.</h3>
      </div>
    </div>
  </div>
{% endblock %}

{% block content1 %}
  <div class="container">
    <div class="row">
      {% for erkekurun in erkekurunler %}
        <div class="col-md-4">
          <div class="yeni-yapi">
            <img class="img" src="{{ erkekurun.image_url }}" alt="Ürün Görseli" />
            <div class="content">
              <div class="product-info">
                <h2 class="product-name">{{ erkekurun.name }}</h2>
                <h4 class="price">{{ erkekurun.price }}</h4>
              </div>
              <hr />
              <div class="actions">
                <button class="fav-btn"><i class="fa-solid fa-heart" style="color: #B197FC;"></i></button>
                <button class="cart-btn" onclick="addToCart('{{ erkekurun.name }}', '{{ erkekurun.price }}', '{{ erkekurun.image_url }}')">Sepete Ekle</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

<script>
  function addToCart(name, price, image_url) {
    // Sepete ekleme işlemleri burada gerçekleştirilecek
    // Örnek olarak, sepete eklenen ürünün bilgilerini konsola yazdırabiliriz
    console.log("Sepete eklenen ürün:", name, price, image_url);

    // Burada sepete eklenen ürünün HTML temsilini oluşturabiliriz
    var productHTML = `
      <div class="col-md-4">
        <div class="sepet-urun">
          <img class="img" src="${image_url}" alt="Ürün Görseli" />
          <div class="content">
            <div class="product-info">
              <h2 class="product-name">${name}</h2>
              <h4 class="price">${price}</h4>
            </div>
            <hr />
            <div class="actions">
              <button class="remove-btn"><i class="fa-solid fa-trash" style="color: #63E6BE;"></i></button>
              <input type="number" class="quantity-input" value="1" />
            </div>
          </div>
        </div>
      </div>
    `;

    // Oluşturulan HTML'i sepet bölümüne ekleyelim
    var basketContainer = document.getElementById("basket-container");
    basketContainer.innerHTML += productHTML;
  }
</script>
